<html><head></head><body><div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Organization Form</h2>
    <p class="lead">WHATEVER</p>
  </div>

  <div class="row">


    <div class="col-md-8 order-md-1">
      <h4 class="mb-3" id="ceb">Please enter your organization
    details:</h4>

    <!--form action="/action_page.php">
      <label for="img">Select image:</label>
      <input type="file" id="img" name="img" accept="image/*">
      <input  type="submit">
    </form-->

      <form class="needs-validation" novalidate="" #formData="ngForm" (ngSubmit)="SubmitOrganizationForm(formData)">
        <div class="row">

          <div class="col-md-6 mb-3">
            <div class="invalid-feedback">
              Valid organization name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="Contact Name">Organization Number:</label>
            <input type="text" class="form-control" id="organizationNumber" placeholder="" value="" name="organizationNumber" required ngModel>
            <div class="invalid-feedback">
              Valid name is required.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="oText">About The Organization:</label>
          <input type="text" id="oText" name="oText" required ngModel>
        </div>

        <div class="mb-3">
          <label for="location">Organization Main Location:</label>
          <input type="tel" class="form-control" id="location" placeholder=" " name="location" required ngModel>

        </div>

        <div class="mb-3">
          <label for="contactName">Contact Name:</label>
          <input type="text" id="contactName" name="contactName" required ngModel>

        </div>

        <div class="mb-3">
          <label for="phoneNumber">Contact Phone Number:</label>
          <input type="text" id="phoneNumber" type=tel  name="phoneNumber" required ngModel>

        </div>


        <div class="mb-3">
          <label for="mail">Mail Adress:</label>
          <input type="text" class="form-control" id="mail" type="email" name="mail" required ngModel>
          <div class="invalid-feedback">
            Valid mail address is required.
          </div>
        </div>




      <!-- dribbble -->

        <hr class="mb-4">
        <button routerLink="/" type="submit" (click)="SubmitOrganizationForm(formData)">Submit</button>
      </form>
    </div>
  </div>


</div>
</body></html>
