<html><head></head><body><div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Hi {{ authService.getLoggedUserName() }}, Let's Meet</h2>
    <p class="lead">We want to know you better</p>
  </div>

  <div class="row" style="justify-content: center; margin-bottom: 100px;">


    <div class="col-md-8 order-md-1">
      <h4 class="mb-3" id="ceb">Please enter your organization
    details:</h4>

    <!--form action="/action_page.php">
      <label for="img">Select image:</label>
      <input type="file" id="img" name="img" accept="image/*">
      <input  type="submit">
    </form-->

      <form class="needs-validation" novalidate="" #formData="ngForm" (ngSubmit)="SubmitOrganizationForm(formData)">
        <div class="row">

          
          <div class="col-md-6 mb-3 form-group">
            <label for="organizationNumber">Organization Number:</label>
            
            <input type="number" class="form-control" id="organizationNumber" placeholder=""
            value="" name="organizationNumber" required ngModel #organizationNumberInput="ngModel">
            <div class="validate"></div>
              <div *ngIf="organizationNumberInput.invalid && (organizationNumberInput.dirty || organizationNumberInput.touched)" class="alert alert-danger">
                <div *ngIf="organizationNumberInput.errors.required">
                  Number is required.
              </div>
              </div>
          </div>
          



          
        </div>

        <div class="mb-3">
          <label for="logo">Organization Logo:</label>
          <input type="text" class="form-control" id="logo" type=tel  name="phoneNumber" required ngModel #phoneNumberInput="ngModel">
          <div class="validate"></div>

        </div>



        <div class=" form-group">
          <label for="oText">About The Organization:</label>
          <input required minlength="2" ngModel  class="form-control"
             name="oText" #oTextInput="ngModel" id="oText" type="text" placeholder="About"
             data-msg="Please enter at least 8 chars of subject">
             <div class="validate"></div>
          <div class= "alert alert-danger"
           *ngIf="(oTextInput.touched||oTextInput.dirty) && !oTextInput.valid">
            <div  *ngIf="oTextInput.errors.required">
              About is required.
            </div>
            <div *ngIf="oTextInput.errors.minlength">
              About should be minimum 2 characters
            </div>
          </div>
        </div>

        <div class="mb-3 form-group">
          <label for="location">Organization Main Location:</label>
          <input type="text" class="form-control" id="location" placeholder=" " name="location" required ngModel
          #locationInput="ngModel">
          <div class="validate"></div>
          <div *ngIf="locationInput.invalid && (locationInput.dirty || locationInput.touched)" class="alert alert-danger">
            <div *ngIf="locationInput.errors.required">
              Location is required.
          </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="contactName">Contact Name:</label>
          <input type="text" class="form-control" id="contactName" name="contactName" required ngModel #contactNameInput="ngModel">
          <div class="validate"></div>
          <div *ngIf="contactNameInput.invalid && (contactNameInput.dirty || contactNameInput.touched)" class="alert alert-danger">
            <div *ngIf="contactNameInput.errors.required">
              Name is required.
          </div>
          </div>

        </div>

        <div class="mb-3">
          <label for="phoneNumber">Contact Phone Number:</label>
          <input type="text" class="form-control" id="phoneNumber" type=tel  name="phoneNumber" required ngModel #phoneNumberInput="ngModel">
          <div class="validate"></div>
          <div *ngIf="phoneNumberInput.invalid && (phoneNumberInput.dirty || phoneNumberInput.touched)" class="alert alert-danger">
            <div *ngIf="phoneNumberInput.errors.required">
              Name is required.
          </div>
          </div>

        </div>


        




      <!-- dribbble -->

        <hr class="mb-4">

        <div class="submit-btn">
          <button routerLink="/" type="submit" (click)="SubmitOrganizationForm(formData)" [disabled]="!formData.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>


</div>
</body></html>
