
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Meet Botzi</h2>
            <h3>The robot that matches between organizations and volunteers </h3>
            <div class="text-center facebook-button" style="margin: 30px auto;">
              <a  style="float: left;" class="btn facebook-btn" href="https://www.facebook.com/Botzi-The-Volunteer-Matching-Bot-100834055011426/">
                <img class="icon-btn" src="assets\img\icons\facebook.svg">
                Find Out More
              </a>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              For volunteers:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Finds your most comfortable volunteering</li>
              <li><i class="ri-check-double-line"></i> Close to your current location</li>
              <li><i class="ri-check-double-line"></i> In your convenient times </li>
            </ul>
            <p>
              For organizations:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Finds for you the suitable volunteering</li>
              <li><i class="ri-check-double-line"></i> Controls your campains</li>
              <li><i class="ri-check-double-line"></i> Promote your campaigns on social networks   </li>
            </ul>
            <!--p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
