<section id="organization-profile" class="organization-profile">
  <div class="row">
    <div class="col">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h2>Organization Profile</h2>
    </div>
    <div class="row" style="justify-content: center; margin-bottom: 100px;">
      <div class="col-md-8 order-md-1">
        <div class="row">
          <h4 class="mb-3" id="ceb">Update Your Details:</h4>

          <!--div class="col">
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-block" (click)="wantToUpdate()" type="submit">Click To Update</button>
          </div-->
        </div >
        <form class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="organizationName">Organization Name:</label>
              <input required="" value="" placeholder="" id="organizationName" class="form-control" type="text">
              <div class="invalid-feedback">
                Valid organization name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="Contact Name">Organization Number:</label>
              <input type="text" class="form-control" id="organizationNumber" placeholder="" value="" required="">
            </div>
          </div>
          <div class="mb-3">
            <label for="oText">About The Organization:</label>
            <input type="text" id="oText" required="">
          </div>
          <div class="mb-3">
            <label for="location">Organization Main Location:</label>
            <input type="tel" class="form-control" id="location" placeholder=" " required="">
          </div>
          <div class="mb-3">
            <label for="contactName">Contact Name:</label>
            <input type="text" id="contactName" required="">
          </div>
          <div class="mb-3">
            <label for="phoneNumber">Contact Phone Number:</label>
            <input type="text" id="phoneNumber" type=tel  required="">
          </div>
          <div class="mb-3">
            <label for="mail">Mail Adress:</label>
            <input type="text" class="form-control" id="mail" type="email" required="">
            <div class="invalid-feedback">
              Valid mail adress is required.
            </div>
          </div>
          <hr class="mb-4">
          <div class="submit-btn">
          <button routerLink="/" type="update" (click)="updateOrganization()">Update</button>
        </div>
        </form>
      </div>
    </div>
    </div>

  </div>
</section>
