<!-- ======= sign Section ======= -->
    <section id="sign" class="sign">
      <div class="container">
        <div class="section-title">
          <span>Sign Up</span>
          <h2>{{ signUpHeader }}</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>
      </div>

      <div class="container">

        <form action="" method="post" role="form" class="sign-up-form" #formData="ngForm" (ngSubmit)="onSubmitSignUp(formData)">

            <div class="text-center facebook-button">
              <button type="button" class="btn facebook-btn" (click)="submitLoginFacebook();">
                <img class="icon-btn" src="assets\img\icons\facebook.svg">
                Login with facebook
              </button>
            </div>

            <div class="error" *ngIf="error">{{ error }}</div>
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Full Name"
                     data-rule="minlen:4" data-msg="Please enter at least 4 chars" ngModel required/>
              <div class="validate"></div>
            </div>

            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" type="email"
                     data-msg="Please enter a valid email" ngModel required email/>
              <div class="validate"></div>
            </div>

          <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required minlength="8"
                   ngModel [(ngModel)]="password" #passwordInput="ngModel"
                   data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="alert alert-danger">
                  <div *ngIf="passwordInput.errors.required">
                  Password is required.
                </div>
                <div *ngIf="passwordInput.errors.minlength">
                  Password must be at least 8 characters long.
                </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your sign up is completed. Thank you!</div>
          </div>
          <div class="text-center">
            <button routerLink="/volunteerForm" *ngIf="isVol" type="submit" (click)="onSubmitSignUp(formData)">Sign Up</button>
            <button routerLink="/OrganizationForm" *ngIf="!isVol" type="submit" (click)="onSubmitSignUp(formData)">Sign Up</button>
            <!-- [disabled]="!formData.valid" -->
          </div>
        </form>
        <div class="switch-login">
          <a  routerLink="/login" routerLinkActive="active" class="alc">Already have an account? <strong>Log in here</strong></a>
        </div>
      </div>

    </section><!-- End sign Section -->
