<html><head></head><body><div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2>Campaign Details</h2>
    <p class="lead">Let's start finding best match volunteers</p>
  </div>

  <div class="row" style="justify-content: center; margin-bottom: 100px;">


    <div class="col-md-8 order-md-1">
      <h4 class="mb-3" id="ceb">Please Enter Your Campaign
    Details:</h4>

      <form class="needs-validation" novalidate="" #formData="ngForm" (ngSubmit)="submitCampaignForm(formData)">
        <div class="row">


          <div class="col-md-6 mb-3">

           
           

          </div>

        </div>
       
        <div class="mb-3">
          <label for="oText">About The Campaign:</label>
          <input type="text" *ngIf="!isEdit" id="cText" placeholder="..." name="cText" required ngModel>
          <input type="text" ngIf="isEdit"  [(ngModel)]="this.Campaign.cText" id="d_cText" name="cText" required ngModel>
        </div>


        <div class="mb-3">
          <label for="oText">Campaign City:</label>
          <input required minlength="2" *ngIf="!isEdit" placeholder="Jerusalm" ngModel type="text" id="city" name="city"  ngModel>
          <div class= "alert alert-danger" *ngIf="city.touched && !city.Valid">
           <div  *ngIf="city.errors.required">City is required.</div>
           <div *ngIf="city.errors.minlength">City sould be minimum {{ city.errors.minlength.requiredLength }} characters</div>
          </div>

          <input required minlength="2" ngIf="isEdit"  [(ngModel)]="this.Campaign.City" ngModel type="text" id="d_city" name="city"  ngModel>
          <div class= "alert alert-danger" *ngIf="city.touched && !city.Valid">
           <div  *ngIf="city.errors.required">City is required.</div>
           <div *ngIf="city.errors.minlength">City sould be minimum {{ city.errors.minlength.requiredLength }} characters</div>
          </div>


        </div>


       

       <div class="mb-3">
          <label for="neededSkills">Required Skills:<span class="text-muted"></span></label>
          <input type="text" *ngIf="!isEdit" class="form-control" id="skills" name="skills" placeholder="X,X,X..." required ngModel>
          <input type="text" ngIf="isEdit"  [(ngModel)]="this.Campaign.skills"  class="form-control" id="d_skills" name="skills" placeholder="X,X,X..." required ngModel>

        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="Start Date"> Start Date</label>
            <input type="date" *ngIf="!isEdit" class="form-control" id="startDate" placeholder="" value="" name="startDate" required ngModel>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>

            <input type="date" *ngIf="isEdit"  [(ngModel)]="this.Campaign.startDate" class="form-control" id="d_startDate" placeholder="" value="" name="startDate" required ngModel>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>

          </div>
          <div class="col-md-6 mb-3">
            <label for="Last Date">End Date</label>
            <input type="date" *ngIf="!isEdit" class="form-control" id="endDate" placeholder="00:00" value="" name="endDate" required ngModel>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>

            <input type="date" *ngIf="isEdit"   [(ngModel)]="this.Campaign.endDate"   class="form-control" id="d_endDate" placeholder="00:00" value="" name="endDate" required ngModel>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>

          </div>
        </div>



      <!-- dribbble -->

        <hr class="mb-4">
       <div class="submit-btn">
          <button routerLink="/" type="submit" (click)="submitCampaignForm(formData)">Submit</button>
        </div>
      </form>
    </div>
  </div>


</div>
</body></html>
