
<div class="carousel-item" [class.active]="selected">
  <div class="carousel-background"><img class="slide-size" src="{{imgPath}}" alt=""></div>
  <div class="carousel-container">
    <div class="carousel-content">
      <h2 class="animated fadeInDown">Welcome to <span>Botzi</span></h2>
      <p class="animated fadeInUp">The bot that changing the game about volunteering.  Just tell us who you are and we tell you who you will be.</p>
      <button class="btn-get-started scrollto animated fadeInUp" [routerLink]="['/sign-up/organization']">Organization Sign Up</button>
      <button class="btn-get-started scrollto animated fadeInUp" [routerLink]="['/sign-up/volunteer']">Volunteer Sign Up</button>
    </div>
  </div>
</div>