<section id="volunteer-areas" class="volunteer-areas">

  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Education</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Art</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">software</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Marketing</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Management</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Design</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Media</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">accounting</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Digits</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Web Development</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">sport</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Research</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Entrepreneurship</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">engineering</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Fundraising</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">medicine</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">communication</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Photo</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Brand</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Business Development</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Training</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Data Analysis</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Database management</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Digital advertising</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">digital marketing</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Organizational design</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">project managing</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">PR</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Event Planning</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Search engine marketing</label><br>
  </section>