<div class="col-sm-6" >
  <div class="icon-box" style="width: 600px;">
    <i class="icofont-tasks-alt"></i>
    <h4 style="font-size:20px;"><a [routerLink]="[ '/campaign', campaign.campaignID]">{{ campaign.campaignName }}</a></h4>
    <p>{{campaign.cText}} ({{campaign.city}}) </p>
    <p>{{ campaign.startDate + " - " + campaign.endDate}}</p>

    <a *ngIf="!appliedAlready" [routerLink]="[ '/campaign', campaign.campaignID]">
            Show more</a>

    <!--
    <div class="apply-btn">
     <button  type="button" (click)="applyCampaign()">Edit</button>
    </div>
    -->


  </div>
</div>
