   <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <span *ngIf="!appliedAlready">Your Matches</span>
          <h2 *ngIf="!appliedAlready">Your Matches</h2>
          <p *ngIf="!appliedAlready">Let's volunteer!</p>
        </div>

        <div class="row" *ngIf="campaignsList!=[]&&campaignsList">

          <app-available-match *ngFor="let campaign of campaignsList" [campaign] = "campaign" [appliedAlready] = "appliedAlready"></app-available-match>

        </div>

        <div class="row" *ngIf="!campaignsList||campaignsList==[]||error!=''">

          <p style="text-align: center;">Sorry, no matching campaigns were found
          <br>
          Please add some more details in your profiles to find you the best matches</p>
        </div>

      </div>
    </section><!-- End Services Section -->


