<section id="organization-profile" class="organization-profile">
  <div class="row">
    <div class="col">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h2>Organization Profile</h2>      
    </div>  
    <div class="row">        
      <div class="col-md-8 order-md-1"> 
        <div class="row">
          <h4 class="mb-3" id="ceb">Update Your Details:</h4>  

          <!--div class="col">
          </div>
          <div class="col">
            <button class="btn btn-primary btn-lg btn-block" (click)="wantToUpdate()" type="submit">Click To Update</button> 
          </div-->
        </div >           
        <form class="needs-validation" novalidate="">
          <div class="row">            
            <div class="col-md-6 mb-3">
              <label for="organizationName">Organization Name:</label>
              <input required="" value="" placeholder="" id="organizationName" class="form-control" type="text">
              <div class="invalid-feedback">
                Valid organization name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="Contact Name">Organization Number:</label>
              <input type="text" class="form-control" id="organizationNumber" placeholder="" value="" required="">
            </div>
          </div>
          <div class="mb-3">
            <label for="oText">About The Organization:</label>
            <input type="text" id="oText" required="">           
          </div>        
          <div class="mb-3">
            <label for="location">Organization Main Location:</label>
            <input type="tel" class="form-control" id="location" placeholder=" " required="">            
          </div>          
          <div class="mb-3">
            <label for="contactName">Contact Name:</label>
            <input type="text" id="contactName" required="">           
          </div>  
          <div class="mb-3">
            <label for="phoneNumber">Contact Phone Number:</label>
            <input type="text" id="phoneNumber" type=tel  required="">           
          </div>  
          <div class="mb-3">
            <label for="mail">Mail Adress:</label>
            <input type="text" class="form-control" id="mail" type="email" required="">
            <div class="invalid-feedback">
              Valid mail adress is required.
            </div>
          </div>
          <hr class="mb-4">  
          <button class="btn btn-primary btn-lg btn-block" type="update" (click)="updateOrganization()" >Update</button>
        </form>
      </div>
    </div>
    </div>
  
  <!--div class="background">
    <div class="container">
      <div class="panel pricing-table">
        
        <div class="pricing-plan">
          <img class="bd-placeholder-img rounded-circle" src="https://www.gluna.org/resources/EmailTemplates/Volume%202%20Issue%201/images/grow-membership.jpg" width="140" height="140"/>
  
          <h2 class="pricing-header">{{orgName}}</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">{{orgAddres}}</li>
            <li class="pricing-features-item">{{orgNum}}</li>
            <li class="pricing-features-item">{{orgEmail}}</li>
          </ul>
          <We should add a volunteer area skills >
          <a href="#/" class="pricing-button">Volunteer Area</a>
        </div>
                    
      </div>
    </div>
  </div-->
    <div class=" col">
      <h4 >My Campaigns:</h4>
   </div>
  </div>
</section>