<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2> Volunteer Form</h2>
    <p class="lead">WHATEVER</p>
  </div>

  <div class="row">


    <div class="col-md-8 order-md-1">
      <h4 class="mb-3" id ="ceb">Please enter your details:</h4>
      <form class="needs-validation" novalidate="" #formData="ngForm" (ngSubmit)="submitVolunteerForm(formData)">

        <div class="mb-3">
          <label for="city">City</label>
          <input type="text" *ngIf="!editable" class="form-control" id="city" name="city" placeholder="1234 Main St" required ngModel>
          <input type="text" *ngIf="editable" class="form-control" id="d_city" name="city" placeholder="1234 Main St" [value]="this.volunteer.address" required ngModel>
          <div class="invalid-feedback">
            Please enter your address.
          </div>
        </div>

        <div class="mb-3">
          <label for="phone_number">Phone Number</label>
          <input type="text" *ngIf="!editable" class="form-control" id="phone_number" name="phone_number" placeholder="XXX-XXXXXXX" required ngModel>
          <input type="text" *ngIf="editable" class="form-control" id="d_phone_number" name="phone_number" placeholder="XXX-XXXXXXX" [(ngModel)]="this.volunteer.phone_number" required ngModel>

          <div class="invalid-feedback">
            Please enter your phone_number.
          </div>
        </div>

      
        <div class="mb-3">
          <label for="skills">Skills<span class="text-muted">*</span></label>
          <input type="text" *ngIf="!editable" class="form-control" placeholder="X,X,X..." id="skills" name="skills" ngModel>
          <input type="text" *ngIf="editable" class="form-control" placeholder="X,X,X..." id="d_skills" name="skills" [(ngModel)]="this.volunteer.skills" ngModel>

        </div>
      
        <div class=" mb-3">
          <label for="availability">Availability</label>
          <select   class="custom-select d-block w-100" id="availability" required="" >
            <option value="">Choose...</option>
            <option value="One-time">One-time</option>
            <option value="A few hours a week (maximum 6 hours)">A few hours a week (maximum 6 hours)</option>
            <option value="Day of the week (maximum 10 hours)">Day of the week (maximum 10 hours)</option>
            <option value="More">More</option>
          </select>

          <div class="invalid-feedback">
            Please select a valid option.
          </div>
        </div>
      <!-- dribbble -->

        <hr class="mb-4">
        <div class="submit-btn">
          <button routerLink="/" type="submit" (click)="submitVolunteerForm(formData)">Submit</button>
        </div>
      </form>

    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017-2020 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>