<section id="skills" class="skills">


  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Rent a car</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Feedback on the activities</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Site review</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Web Development</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Web Design</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Keyword search</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Marketing Strategic Support</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Fundraising</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Time management training</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">communication</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Board evaluation</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Start plan</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Clear expression of organization goals</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Recommendations for improvements</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Conversations with an event person</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Professional design report</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Exact specifications</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Advice</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Establish a strategic planning meeting</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Social media support</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Design for Flyer</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">A script to transfer a task to employees</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Define selected software</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Training and guidance on how to manage a system and create baseline reports </label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Marketing Strategic Support</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">One-on-one meetings with a coach</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Templates with precise specifications and ready to print</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Review of the Board's policies and procedures</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Document outlines practices, tools recommendations</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Written summary and idea</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Procedure Analysis</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Identify strengths and weaknesses</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Organizational needs assessment</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Marketing tools</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Training how to recruit managers</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Designs for events</label><br>
  <input type="checkbox" id="site" value="interest_development" name="user_interest"><label class="light" for="development">Recommendations on doubt</label><br>
  <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">A press release that can be distributed</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Concise letter for fundraising</label><br>
  <input type="checkbox" id="web" value="interest_business" name="user_interest"><label class="light" for="business">Follower statistics, engagement, and demographics</label><br>
  </section>